<div>
    <h2 class="header">{{ title }}</h2>
</div>
<!--
<div>
    Task : <input [(ngModel)]="newTask" type="text" value="" style="width:300px;"> 
    Description : <input [(ngModel)]="newDescription" type="text" value="" style="width:300px;"> 
    <button (click)="addToList()">Add Task</button>
</div>

<br/>
<div *ngFor="let x of todoTask; let index = index;" > 

    <div class="accordion" id="accordionExample">      
    <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                &nbsp;&nbsp;{{x}}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </button>
                <input (click)="deleteTask(index)" type="button" value="Delete">
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            {{x}}
          </div>
    </div>
    </div>
    -->   
           
       
        