.header {
    color: black;
    font-size: 30px;
    background-color: greenyellow;
}

.body {  font-size: 20px;  }

.box {
    width: 300px;
    display: flex;
    border: 1px solid gray;
    text-align: center;
    }
    
